.tabs > .content {
  display: none !important; /** hide default content */
}

.tabs .tab {
  /** apply py-4 */
  padding-top: 1rem /* 16px */ !important;
  padding-bottom: 1rem /* 16px */ !important;
}

.tabs .tab::after {
  height: 0.2rem !important;
}

.dashboard-nav::before {
  position: absolute;
  content: '';
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #eaeaea;
}

.dark.dashboard-nav::before {
  background-color: rgba(200, 200, 200, 0.2);
}

textarea {
  font-size: 1rem !important;
}

.select {
  height: calc(1.875 * 16pt) !important;
}

.select > .placeholder {
  font-size: 1rem !important;
}
